<div class="row">
	<body style="background-color:rgb(162, 233, 200);"></body>
	<% if (orders) { %>
		<% orders.products.forEach(product => { %>
			<div class="col s6 m6 ">
				<div class="card">
					<div class="card-image">
						<img src="/<%= product.productId.img %>" style="height: 360px; width: 390px;" />
					</div>
					<div class="card-content">
						<p style="text-align:center;color:blueviolet !important;"><%= product.productId.name %></p>
						<p style="text-align:center;color:blueviolet !important;">price: <%= product.productId.price %></p>
						<p style="text-align:center;color:blueviolet !important;" >quantity: <%= product.quantity %></p>
					</div>
					<div class="card-action" style="text-align:center;color:blueviolet !important;">
						<a href="/product/<%= product.productId._id %>">see product</a>
					</div>
				</div>
			</div>
			<% }) %>
	<% } %>
	
</div>
